<div class="wrap">
  {% if section.settings.title != blank %}
    <h2 class="feat-collection-title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="grid clearfix">
    {% for product in collection.products limit: 6 %}
      <a href="{{ product.url | within: collection }}">
        <div class="grid__item medium-up--one-quarter">
          {% if product.featured_image != blank %}
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
          {% endif %}

          <p class="collection-product-title">{{ product.title }}</p>
          <p class="collection-product-price">
            {% if product.compare_at_price > product.price %}

              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ product.price | money }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}

            {% else %}

              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ product.price_max | money }}
              {% else %}
                {{ product.price | money }}
              {% endif %}

            {% endif %}
          </p>
        </div>
      </a>
    {% else %}

      {% for i in (1..6) %}
        <a href="#">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>
            {{ 'homepage.onboarding.product_title' | t }}
          </p>
        </a>

        <p>{{ 1999 | money }}</p>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
