<div class="wrap">
  {% if section.settings.title != blank %}
    <h1 class="feat-collection-title">{{ section.settings.title | escape }}</h1>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
  <div class="grid clearfix">
    {% for product in collection.products limit: 3 %}
      <a href="{{ product.url | within: collection }}">
        <div class="grid__item medium-up--one-third one-whole product-card-wrap">
          <div class="product-card">
            {% if product.featured_image != blank %}
              {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
            {% endif %}
            <h2 class="product-card-title">{{ product.title }}</h2>
            <p class="product-card-price">
              {% if product.compare_at_price > product.price %}
                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  {{ product.price | money | remove: '.00'}}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  {{ product.price | money | remove: '.00'}}
                {% endif %}

              {% else %}

                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ product.price_max | money | remove: '.00'}}
                {% else %}
                  {{ product.price | money | remove: '.00'}}
                {% endif %}

              {% endif %}
            </p>
          </div>
        </div>
      </a>
    {% else %}

      {% for i in (1..4) %}
        <a href="#">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 4 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>{{ 'homepage.onboarding.product_title' | t }}</p>
        </a>

        <p>{{ 1999 | money }}</p>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
    "name": "Products We Love",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "products we love"
        },
        {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Products We Love",
            "category": "Collection"
        }
    ]
}
{% endschema %}
