<div class="product">
  <div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

    <script type="text/javascript">
        var variants_json = {};
        {% for variant in product.variants %}
            variants_json[{{variant.id}}] = {{ variant.metafields.product_info | json }};
        {% endfor %}
    </script>

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign variant_metafields = '' -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '1024x1024' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

    <div class="grid wrap">
      <div class="grid__item medium-up--one-third">
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="rte">
          {{ product.description }}
        </div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data">
                {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                    <div class="grid product-selection">
                        <div class="grid__item medium-up--one-sixth product-size-quantity">
                            <input type="number" class="mod" id="Quantity" name="quantity" value="1" min="1">
                        </div>
                        <div class="grid__item medium-up--five-sixths js product-size-quantity">
                            <select class="scent-selector" id="SingleOptionSelector-{{ forloop.index0 }}" data-single-option-selector data-index="option{{ option.position }}">
                                {% for value in option.values %}
                                <option value="{{ value | escape }}" {% if option.selected_value==value %}selected="selected" {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                    {% endfor %}
                {% endunless %}
                        <select name="id" class="no-js" data-product-select>
                            {% for variant in product.variants %}
                            <option
                                {% if variant==current_variant %}
                                    selected="selected"
                                {% endif %}
                                {% unless variant.available %}
                                    disabled="disabled"
                                {% endunless %}
                                value="{{ variant.id }}">
                                {{ variant.title }}
                            </option>
                            {% endfor %}
                        </select>
                    {% unless product.has_only_default_variant %}
                    </div>
                </div>
                {% endunless %}
                <div class="saso-volumes"></div>
                <div class="saso-bundle"></div>
                <div class="data-price-wrapper">
                    <div data-price-wrapper>
                        <span data-product-price>
                            {{ current_variant.price | money }}
                        </span>
                        {% if product.compare_at_price_max > product.price %}
                        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                        <s data-compare-price>
                            {% if current_variant.compare_at_price > current_variant.price %}
                                {{ current_variant.compare_at_price | money }}
                            {% endif %}
                        </s>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" name="add" data-add-to-cart {% unless current_variant.available %}disabled="disabled" {% endunless %}>
                    <span data-add-to-cart-text>
                        {% if current_variant.available %}
                              {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                              {{ 'products.product.sold_out' | t }}
                        {% endif %}
                    </span>
                </button>
            </form>

          </div>

        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        {% endunless %}
      </div>
      <div class="grid__item medium-up--two-thirds">
        {% if featured_image != blank %}
          {% if product.images.size == 1 %}
            <div class="product-image-wrap">
              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
            </div>
          {% else %}
            <div class="grid product-images">
              <div class="grid__item medium-up--three-quarters">
                <div class="product-image-wrap">
                  <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
              </div>
              </div>
              <div class="grid__item medium-up--one-quarter">
                <ul class="product-image-list">
                {% for image in product.images %}
                    <li data-product-variant="{{ forloop.index0 }}">
                        <a href="{{ image.src | img_url: '1024x1024' }}" data-product-single-thumbnail>
                            <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                        </a>
                    </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% for variant in product.variants %}
        {% if variant.id == current_variant.id %}
        <div style="background-color: {{ variant.metafields.product_info.color_scent }}" class="product-details" data-variant-background >
          <div class="grid wrap">
            <div class="grid__item medium-up--one-third one-whole">
              <h2>ingredients</h2>
                <p data-variant-ingredients >{{ variant.metafields.product_info.product_ingredients }}</p>
            </div>
            <div class="grid__item medium-up--one-third one-whole">
              <h2>how to</h2>
              <p data-variant-howto >{{ product.metafields.product_info.product_to_use }}</p>
            </div>
            <div class="grid__item medium-up--one-third one-whole">
              <h2>tips</h2>
              <p data-variant-tips >{{ product.metafields.product_info.product_tips }}</p>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

    {% if settings.display_collections or settings.display_tags or settings.display_type %}
        <hr />
    {% endif %}

    {% if settings.display_related_products %}
        {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

        {% if collection and collection.all_products_count > 1 %}
            {% assign col = collection.handle %}
        {% else %}
            {% assign col = product.collections.last.handle %}
        {% endif %}


        {% for tag in product.tags %}
            {% if tag contains 'meta-related-collection-' %}
                {% assign col = tag | remove: 'meta-related-collection-' %}
                {% assign collection = collections[col] %}
                {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
            {% endif %}
        {% endfor %}

        {% if col and collections[col].all_products_count > 0 %}
            {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
                <h2>{{ 'products.product.related_items' | t }}</h2>

                {% assign skip_product = product %}
                {% assign products = collections[col].products %}
                {% assign products_per_row = settings.products_per_row %}
                <div>
                    {% include 'product-loop' %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_related_products",
        "label": "Show related products",
        "default": true
      }
    ]
  }
{% endschema %}
