<div class="wrap">
  {% paginate blog.articles by 24 %}

    {%- assign blog_title = blog.title -%}
    {% if current_tags %}
      {% capture blog_title %}
      <h1 class="blog-title">{{ blog.title | link_to: blog.url }}</h1>
      <h2 class="blog-tag-title">{{ current_tags.first }}</h2>
      {% endcapture %}
    {% else %}
      {% capture blog_title %}
      <h1 class="blog-title">Blog</h1>
      {% endcapture %}
    {% endif %}

    <header class="blog-header">
      {{ blog_title }}
    </header>

    {% for article in blog.articles %}
      <div class="blog-preview-content grid">
        <div class="blog-preview-copy">
          <a href="{{ article.url }}">
            <h3 class="blog-preview-title">
              {{ article.title }}
            </h3>
            <!-- {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <p class="blog-preview-body">
              {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
            </p> -->
            <p class="blog-preview-body">
                {{ article.excerpt | strip_html | truncatewords: 100 }}
            </p>
            <p class="read-more">{{ 'blogs.article.read_more' | t }} &rarr;</p>
            </a>
        </div>
        <div class="blog-preview-img">
          {% assign src = article.excerpt | split: 'src="' %}
          {% assign src = src[1] | split: '"' %}
          {% assign src = src[0] %}
          <a href="{{ article.url }}"><img src="{{ src }}" alt=""></a>
        </div>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}

  <section class="grid wrap blog-categories">
    <div class="grid__item one-whole">
      {% if blog.all_tags.size > 0 %}
        <h2>{{ 'blogs.general.categories' | t }}</h2>

        <ul>
          {% for tag in blog.all_tags %}

            {% if current_tags contains tag %}
              <li class="blog-tags">{{ tag }}</li>
            {% else %}
              <li class="blog-tags">{{ tag | link_to_tag: tag }}</li>
            {% endif %}

          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
</div>
