{% if cart.item_count > 0 %}
  <h1>The cat's in the bag!</h1>
  <p class="collection-description">your cart</p>
  <div class="cart-wrap">
    <form action="/cart" method="post" novalidate>
      <table class="responsive-table cart">
        <thead class="small--hide">
          <!-- <tr>
            <th colspan="2">{{ 'cart.label.product' | t }}</th>
            <th>{{ 'cart.label.price' | t }}</th>
            <th>{{ 'cart.label.quantity' | t }}</th>
            <th>{{ 'cart.label.total' | t }}</th>
          </tr> -->
        </thead>
        <tbody>

          {% for item in cart.items %}

          {% comment %}

          Cart Item Template
          =====================
          The data-label attributes on <td> elements are mobile-friendly
          helpers used for responsive-table labels
          {% endcomment %}

            <tr class="responsive-table-row cart-row">
              <td data-label="{{ 'customer.order.product' | t }}">

                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '240x240' | img_tag: item.title }}
                  </a>
                {% endif %}

              </td>
              <td>
                <a href="{{ item.url }}" class="cart-product-title">{{ item.product.title }}</a>

                {% unless item.product.has_only_default_variant %}
                  <p>{{ item.variant.title }}</p>
                {% endunless %}

                {%- assign property_size = item.properties | size -%}

                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    {% endunless %}
                  {% endfor %}
                {% endif %}
                <h4>
                  <span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
                  <span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                </h4>

                <!-- <p>
                  {% if item.original_line_price != item.line_price %}
                    <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                    {{ item.price | money }}
                    <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                    <s>{{ item.original_price | money }}</s>
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
              </p> -->
              </td>
              <td data-label="{{ 'cart.label.quantity' | t }}">
                <input type="number"
                       onchange="this.form.submit();"
                       name="updates[]"
                       id="updates_{{ item.key }}"
                       value="{{ item.quantity }}"
                       min="0"
                       aria-label="{{ 'cart.general.item_quantity' | t }}">
              </td>
              <td data-label="{{ 'cart.label.total' | t }}">
                  <span class="saso-cart-item-price" data-key="{{item.key}}">{{ item.price | money }}</span>
              </td>
              <td>
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-remove">{{ 'cart.general.remove' | t }}

                </a>
              </td>
            </tr>
            <script type="text/javascript">
                // console.log($("input[cart-index={{ forloop.index0 }}]").val());
            </script>
          {% endfor %}
        </tbody>
      </table>
      <div class="subtotal">
          <span class="subtotal-title">{{ 'cart.general.subtotal' | t }}</span><span class="subtotal-title saso-cart-original-total">{{ cart.total_price | money_with_currency }}</span>
          <span class="subtotal-title saso-cart-total"></span>
      </div>
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}

      {% if settings.cart_notes_enable %}
        <div class="note-to-seller">
          <label for="CartSpecialInstructions">
            <!-- <span class="bold">Anything you need to tell us?</span>  -->
            {{ 'cart.general.note' | t }}</label>
          <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}

      <input type="submit" name="checkout" class="btn checkout-btn" value="{{ 'cart.general.checkout' | t }}">
    </form>
</div>
{% else %}
  <h1>The cat's outta the bag!</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies cart-empty">
    <p>{{ 'cart.general.empty' | t }}</p><p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
