<div class="wrap">
    {% paginate collection.products by 24 %}
    <header role="banner" class="collection-header">
        <h1 class="collection-title">{{ collection.title }}</h1>
        <p class="collection-description">
        {{ collection.metafields.collection_info.collection_description }}
        </p>
    </header>

    <main class="grid">
        {% for product in collection.products %}
        {% assign divisible_by_three = forloop.index | modulo: 3 %}
        {% if divisible_by_three == 1 %}
        <div class="grid_row clearfix">
        {% endif %}
            <div class="grid__item medium-up--one-third one-whole product-card-wrap">
                <div class="product-card" data-collection-item="{{ forloop.index0 }}">
                    {% if product.featured_image != blank %}
                    <a href="{{ product.url | within: collection }}">
                        <img data-collection-product-image="{{ product.id }}" src="{{product.featured_image.src | img_url : '480x480'}}" alt="{{ product.featured_image.alt }}">
                    </a>
                    {% endif %}
                    <a href="{{ product.url | within: collection }}">
                        <p class="product-card-title">{{ product.title }}</p>
                    </a>
                    <p class="product-card-price">
                        {%- assign current_variant = product.first_available_variant -%}
                        {% if product.compare_at_price %}
                            {% if current_variant.compare_at_price > current_variant.price %}
                                <span data-product-price>{{ current_variant.price | money }}</span>  
                                <span class="price-reduced" data-compare-price>{{ current_variant.compare_at_price | money }}</span>
                            {% else %}
                                <span data-product-price>{{ current_variant.price | money }}</span>
                                <span data-compare-price></span>
                            {% endif %}                   
                        
                        {% else %}
                            <span data-product-price>{{ current_variant.price | money }}</span>
                        
                        {% endif %}
                        {% unless product.available %} {{ 'products.product.sold_out' | t }} {% endunless %}
                    </p>
                    <div class="quickshop-root">
                        {% include 'quickshop', product_id: product.id %}
                    </div>
                    <script type="text/javascript">
                        $("div[data-collection-item='{{ forloop.index0 }}']").mouseenter(function () {
                            $("div[data-quickshop-id='{{ forloop.index0 }}']").css("display", "inline-block");
                        });
                        $("div[data-collection-item='{{ forloop.index0 }}']").mouseleave(function () {
                            $("div[data-quickshop-id='{{ forloop.index0 }}']").css("display", "none");
                        });
                    </script>
                </div>
            </div>
        {% if divisible_by_three == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </main>
    {% if paginate.pages > 1 %} {% include 'pagination' %} {% endif %}

{% endpaginate %}
</div>
