<div class="banner">{{ pages.banner.content }}</div>
{{ content_for_index }}


<section class="blog-preview grid wrap">
  {% assign blog = blogs.Blog %}
    {%- assign blog_title = blog.title -%}
    {% for article in blog.articles limit: 3 %}
      {% if forloop.rindex <= forloop.length %}
        <a href="{{ article.url }}">

          {% if article.image %}
              {{ article | img_url: '1024x1024' | img_tag: article.title }}
          {% endif %}

          <div class="blog-preview-content grid">
            <h3 class="blog-preview-title">{{ article.title }}</h3>
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 100 }}
              </p>
            {% endif %}
          </div>
          <p class="read-more">{{ 'blogs.article.read_more' | t }} &rarr;</p>
        </a>
      {% endif %}
    {% endfor %}
</div>
