<div class="retailers-page">
  <div class="wrap">
    <header role="banner" class="collection-header">
        <h1 class="collection-title">{{ page.title }}</h1>
        <p class="collection-description">
        {{ collection.metafields.collection_info.collection_description }}
        </p>
    </header>

    <div class="grid">
      {{ page.content }}
      <h2>Online Retailers</h2>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list1 }}
      </div>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list2 }}
      </div>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list3 }}
      </div>
    </div>
</div>
