<div class="retailers-page">
  <div class="grid wrap">
    <header role="banner" class="collection-header">
        <h1 class="collection-title">{{ page.title }}</h1>
        <img src="{{ 'store-locator.svg' | asset_url }}" alt="illustration of 2 cats in boat with flying fish" title="find us" class="page-hero"/>
    </header>
    <h2 class="collection-title">Brick and Mortar Shops</h2>
    <div class="store-locator">{{ page.content }}</div>
    <div class="online-retailers">
      <img src="{{ 'online-retailers.svg' | asset_url }}" alt="illustration of friendly snake hula-hooping" title="find us"/>
      <h2 class="collection-title">Online Retailers</h2>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list1 }}
      </div>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list2 }}
      </div>
      <div class="grid__item medium-up--one-third one-whole">
        {{ page.metafields.info.online_retailers_list3 }}
      </div>
    </div>
</div>
