<div class="rte">
  <h2>Our Story</h2>
  <p>{{ page.metafields.who_we_are.our_story }}</p>
  <h2>Our Ingredients</h2>
  <p>{{ page.metafields.who_we_are.our_ingredients }}</p>
  <h2>Our Packaging</h2>
  <p>{{ page.metafields.who_we_are.our_packaging }}</p>
  <h2>Giving Back</h2>
  <p>{{ page.metafields.who_we_are.giving_back }}</p>
  {{ page.content }}
</div>
