<div class="rte">
  {{ page.content }}
  {{ page.metafields.info.faq_returns }}
  {{ page.metafields.info.faq_ingredients }}
  {{ page.metafields.info.faq_shipping }}
  {{ page.metafields.info.faq_etc }}
</div>
