
<div class="faq-page">
  <header role="banner" class="collection-header">
    <h1>{{ page.title }}</h1>
    <p class="collection-description">{{ page.metafields.info.faq_description }}</p>
    <img src="{{ 'faq.svg' | asset_url }}" alt="illustration of cat trimming topiary" title="how can we help?" class="page-hero"/>
  </header>
  <div class="grid wrap">
    <div class="grid__item medium-up--one-half one-whole">
      {{ page.metafields.info.faq_returns }}
      {{ page.metafields.info.faq_ingredients }}
    </div>
    <div class="grid__item medium-up--one-half one-whole">
      {{ page.metafields.info.faq_shipping }}
      {{ page.metafields.info.faq_etc }}
    </div>
  <div>
<div>
