{% paginate search.results by 10 %}

  <h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>


{% if search.performed %}
    <ul class="wrap">
      {% for item in search.results %}
        <li class="grid search-results product-card">
          <h2>{{ item.title | link_to: item.url }}</h2>
          {% if item.object_type == 'product' %}
            {% assign featured_image = item.image | default: item.featured_image %}
            {% if featured_image != blank %}
              <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
              </a>
            {% endif %}
            {% else %}
              <p>{{ item.content | strip_html | truncatewords: 50 | link_to: item.url }}</p>
            {% endif %}
          </div>

        </li>
      {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}

{% endpaginate %}
