<div
    class="quickshop"
    data-quickshop-product-id="{{ product_id }}"
    data-enable-history-state="true"
    data-quickshop-id="{{ forloop.index0 }}"
    data-section-type="quickshop"
    itemscope
    itemtype="http://schema.org/Product"
>
    {%- assign current_variant = product.selected_or_first_available_variant -%}

    <script type="text/javascript">
        // var quickshop_variants = {};
        var product_id = {{ product_id | json }};

        // {% for variant in product.variants %}
        //     quickshop_variants[{{variant.id}}] = {{ variant | json }};
        // {% endfor %}

    </script>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}

    <form id="quickshop-form-{{ forloop.index0 }}" enctype="multipart/form-data">
        {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
                <select
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector-quickshop
                    data-index="option{{ option.position }}"
                >
                    {% for value in option.values %}
                    <option
                        value="{{ value | escape}}"
                        {% if option.selected_value == value %}
                            selected="selected"
                        {% endif %}
                    >
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
            {% endfor %}
        {% endunless %}
        <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
                <option
                    {% if variant == current_variant %}
                        selected="selected"
                    {% endif %}
                    {% unless variant.available %}
                        disabled="disabled"
                    {% endunless %}
                    value="{{ variant.id }}"
                >
                    {{ variant.title }}
                </option>
            {% endfor %}
        </select>
        <div class="grid__item medium-up--one-half">
            <input type="number" class="mod" id="Quantity" name="quantity" value="1" min="1">
        </div>
        <div class="data-price-wrapper">
            <span data-product-price>
                {{ current_variant.price | money }}
            </span>
            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
            {% endif %}
        </div>
        <input
          type="submit"
          name="add"
          data-quickadd-form="{{ forloop.index0 }}"
          data-quickadd-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-quickadd-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </input>
    </form>
</div>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
