<div
    class="quickshop"
    style="display: none;"
    data-quickshop-product-id="{{ product_id }}"
    data-enable-history-state="true"
    data-quickshop-id="{{ forloop.index0 }}"
    data-section-type="quickshop"
    itemscope
    itemtype="http://schema.org/Product"
>
    {%- assign current_variant = product.selected_or_first_available_variant -%}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
    <form class="quickshop-form" id="quickshop-form-{{ forloop.index0 }}" enctype="multipart/form-data">
      <div class="grid clearfix">

          {% if product.has_only_default_variant %}
          <div class="quickshop-select-quantity-only">
              <input type="number" class="mod" id="Quantity" name="quantity" value="1" min="1">
          </div>
          {% endif %}

        {% unless product.has_only_default_variant %}
            <div class="grid__item medium-up--one-quarter">
                <input type="number" class="mod" id="Quantity" name="quantity" value="1" min="1">
            </div>

            <div class="grid__item medium-up--three-quarters">
                  {% for option in product.options_with_values %}
                      <select
                          id="SingleOptionSelector-{{ forloop.index0 }}"
                          data-single-option-selector-quickshop
                          data-index="option{{ option.position }}"
                      >
                          {% for value in option.values %}
                          <option
                              value="{{ value | escape}}"
                              {% if option.selected_value == value %}
                                  selected="selected"
                              {% endif %}
                          >
                              {{ value }}
                          </option>
                          {% endfor %}
                      </select>
                    {% endfor %}
            </div>
        {% endunless %}
      </div>

<!--     <select name="id" class="no-js" data-product-select>
    {% for variant in product.variants %}
        <option
            {% if variant == current_variant %}
                selected="selected"
            {% endif %}
            {% unless variant.available %}
                disabled="disabled"
            {% endunless %}
            value="{{ variant.id }}"
        >
            {{ variant.title }}
        </option>
    {% endfor %}
</select> -->



        <button
          name="add"
          data-quickadd-form="{{ forloop.index0 }}"
          data-quickadd-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-quickadd-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
    </form>
    <div class="quickshop-flash-message" data-quickshop-flash-message style="display: none;" >
        <p data-quickshop-flash-message-text>Added to cart!</p>
    </div>
</div>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
