<div
    class="quickshop-product-container"
    data-section-type="product"
    itemscope
    itemtype="http://schema.org/Product"
>
    {%- assign current_variant = product.selected_or_first_available_variant -%}


<!--     <script type="text/javascript">
    jQuery.post('/cart/add.js', {
        quantity: 1,
        id: 794864229,
    });
</script> -->

    <form action="/cart/add" method="post" enctype="multipart/form-data">
        {% unless product.has_only_default_variant %}
            <div class="radio-select-container">
                {% for variant in product.variants %}
                <input class="quickshop-radio-button" type="radio" data-product-variant="radio{{forloop.index0}}" name="radio" />
                <label class="quickshop-radio-button-label" for="radio{{forloop.index0 }}"><span class="quickshop-radio-button-background" style="background-color: {{ variant.metafields.product_info.color_scent }}"></span></label>
                {% endfor %}
            </div>

        {% endunless %}

        <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
                <option
                    {% if variant == current_variant %}
                        selected="selected"
                    {% endif %}
                    {% unless variant.available %}
                        disabled="disabled"
                    {% endunless %}
                    value="{{ variant.id }}"
                >
                    {{ variant.title }}
                </option>
            {% endfor %}
        </select>
        <div class="grid__item medium-up--one-half">
            <input type="number" class="mod" id="Quantity" name="quantity" value="1" min="1">
        </div>
        <div class="data-price-wrapper">
            <span data-product-price>
                {{ current_variant.price | money }}
            </span>
            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
            {% endif %}
        </div>
        <button
          type="submit"
          name="add"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
    </form>
</div>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
